.featured-section {
  padding: 60px 80px;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
}

.label-row2  {
   display: flex; align-items: center; gap: 8px; margin-bottom: 8px;position: relative;left: 20px;top: 50px; 
  }

.label-text1 {
 font-size: 16px;
  font-weight: 300;
   font-family: "Futura", sans-serif;
  color: #252661;
  line-height: 1;
  letter-spacing: 0.5px;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.label-text1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 60%;
  height: 1.5px;
  background: #5a5d64;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.orange-square-box {
  color: #f5b041;
  font-size: 20px;
  margin-top: 5px;
  position: relative;
  top: -5px;
  right: -3px;
  flex-shrink: 0;
}

.title-wrapper1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  gap: 20px;
}

.section-title1 {
   font-size: clamp(22px, 4vw, 40px);
  font-weight: 200;
  color: #000;
  font-family: "Futura", sans-serif;
  position: relative;
  left: 370px;
  bottom: 40px;
  
}

.section-desc-wrk1 {
 color: #656565;
  max-width: 280px;
  font-size: 13px;
   font-family: 'Hanken Grotesk', sans-serif !important;
  line-height: 1.4;
  position: relative;
bottom: 40px;
  right: 40px;
}

.works-grid1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  position: relative;
  top: -20px;
}

.work-card1 {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 430px;
  width: 1100px;
  position: relative;
  left: 10px;
}

.work-img1 {
   width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 400px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  padding: 5px 10px;
   width: 700px;
   height: 105px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title1 {
  color: #fff;
  font-size: 22px;
   font-family: "Futura", sans-serif;
  margin: 0 0 10px 0;
  font-weight: 500;
  letter-spacing: 0.5px;
  position: relative;
  left: 30px;
}

.tags1 {
  display: flex;
  gap: 7px;
  margin-bottom: 10px;
}

.tag1 {
   background: #fff;
  color: #434040;
  padding: 7px 14px;
  border-radius: 0px;
  font-size: 8px;
  font-family: 'Inter',sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  left: 65px;
}

.view-all-btn1 {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  left: -700px;
  bottom: -900px;
  margin-bottom: -450px;
}

.featured-text1 {
  background-color: #fcb037;
  color: #111;
  padding: 8px 16px;
  font-family: "futura",sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 800;
  border-radius: 8px;
  z-index: 2;
}

.featured-arrow-box1 {
  background-color: #fcb037;
  color: #111;
 padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-left: -6px;
  z-index: 1;
}

.arr-diagonal {
  font-size: 14px;
  font-weight: 800;
}

.title-row-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.project-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  filter: brightness(0) invert(1);
  position: relative;
  left: 20px;
}

.client-project-btn1 {
  display: inline-flex;
  align-items: stretch;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  position: relative;
  gap: 5px;
  bottom: -20px;
  right: 10px;
}

.client-project-btn1 .featured-text1 {
  background-color: #f5b041;
  color: #111;
  padding: 6px 11px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.client-project-btn1 .featured-arrow-box1 {
  background-color: #f5b041;
  color: #111;
  padding: 6px 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border-left: 1px solid rgba(0,0,0,0.1);
  font-size: 14px;
}

